<p>
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>
  |
  <b><%= link_to "Контакти", thredded.root_path %></b>
  |
  <b><%= link_to "Послуги та тарифи", thredded.root_path %></b>
</p>

<div>
  <%= image_tag('logo.jpg', width: '300px', style: 'border: solid 1px; float: left; margin: 10px') %>
  <div>
    <span >Тут ви зможете знайти інформацію про наш будинок, розібратися в послугах і тарифах, задати питання керуючому будинком, переглянути деталізацію нарахувань в особистому кабінеті.
Це зразок інформаційного блоку, в ньому можна розміщувати оголошення та будь-яку іншу важливу інформацію для відвідувачів головної сторінки.</span>
  </div>
</div>